<html>

<body style="font-family: Arial, sans-serif; max-width:600px;">

    <div style="text-align:center;">
        {% if company_logo %}
        <img src="{{ organization_logo }}" alt="Organization Logo" style="max-height:80px;" /> {% else %}
        <h2>{{ company_name }}</h2>
        {% endif %}
    </div>

    <h3>Congratulations {{ candidate_name }}!</h3>

    <p>
        Your application for <b>{{ job_title }}</b> has been accepted.
    </p>

    <p>
        Our team will contact you soon for further steps.
    </p>

    <br />
    <p>Regards,<br>{{ organization_name }}</p>

</body>

</html>