<html>

<body style="font-family: Arial, sans-serif; max-width:600px;">

    <div style="text-align:center;">
        {% if company_logo %}
        <img src="{{ organization_logo }}" alt="Organization Logo" style="max-height:80px;" /> {% else %}
        <h2>{{ company_name }}</h2>
        {% endif %}
    </div>

    <h3>Hello {{ candidate_name }},</h3>

    <p>
        We appreciate your interest in <b>{{ job_title }}</b>. After reviewing your application, we regret to inform you that we are unable to proceed further.
    </p>

    <p>
        We wish you all the best for your future opportunities.
    </p>

    <br />
    <p>Regards,<br>{{ organization_name }}</p>

</body>

</html>