name: Alembic Migration Check

on:
  pull_request:
    branches:
      - main

jobs:
  alembic-check:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        ports:
          - "3306:3306"
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: lms
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Wait for MySQL to be Ready
        run: |
          echo "Waiting for MySQL to start..."
          for i in {1..30}; do
            if mysqladmin ping -h "127.0.0.1" -u root -proot --silent; then
              echo "MySQL is UP!"
              break
            fi
            echo "MySQL not ready yet... ($i/30)"
            sleep 2
          done

      - name: Run Alembic Upgrade
        env:
          DB_USER: root
          DB_PASSWORD: root
          DB_NAME: lms
          # Use service name for inside the container network
          GITHUB_DB_HOST: mysql
        run: |
          alembic upgrade head
